{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <div class="typo-grid">
        <div class="typo-1">
            <div class="grid_3 grid_4">
                <h2>{{ patient_data.patient.name }} {{ patient_data.patient.surname }}</h2>
                <br />
                <div class="profile-bottom-top">
                    <div class="col-md-3 profile-bottom-img">
                        <img src="{{ asset('assets/data/uploads/profile/testuser_big.png') }}" alt="">
                    </div>
                    <div class="col-md-9 profile-text">
                        <h3>Information</h3>
                        <table>
                            <tr>
                                <td>Name</td>
                                <td>:</td>  
                                <td>{{ patient_data.patient.name }}</td>
                            </tr>
                            <tr>
                                <td>Surname</td>
                                <td>:</td>  
                                <td>{{ patient_data.patient.surname }}</td>
                            </tr>
                            <tr>
                                <td>Job</td>
                                <td>:</td>  
                                <td>{{ patient_data.patient.job }}</td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>:</td>  
                                <td>{{ patient_data.patient.age }}</td>
                            </tr>
                            <tr>
                                <td>Birthday</td>
                                <td>:</td>  
                                <td>{{ patient_data.patient.birthday|date("d/m/Y", "Europe/Paris") }}</td>
                            </tr>
                            {% set email_types = patient_data.emails.types %}
                            {% set email_names = patient_data.emails.patient_emails %}
                            {% set email_num = patient_data.emails.types|length %}
                            {% for i in range(0, email_num-1) %}
                                <tr>
                                    <td>{{ email_types[i].name }}</td>
                                    <td>:</td>  
                                    <td>{{ email_names[i].email }}</td>
                                </tr>
                            {% endfor%}
                            
                            {% set address_types = patient_data.addresses.types %}
                            {% set address_names = patient_data.addresses.patient_address %}
                            {% set address_num = patient_data.addresses.types|length %}
                            {% for i in range(0, address_num-1) %}
                                <tr>
                                    <td>{{ address_types[i].name }}</td>
                                    <td>:</td>  
                                    <td>{{ address_names[i].address }}</td>
                                </tr>
                            {% endfor%}
                        </table>
                    </div>
                    
                </div>
                <div class="clearfix"></div>
            </div>
            {% if patient_data.allergies is not empty %}
            <div class="grid_3 grid_4">
                <div class="col-md-12 profile-text">
                    <h3>Allergies</h3>
                    <br />
                    <ul class="list-group">
                        {% for allergy in patient_data.allergies %}
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">{{ allergy.name }}</h4>
                                <p class="list-group-item-text">{{ allergy.characteristics }}</p>
                            </li>
                        {% endfor%}                    
                    </ul>
                </div>                
                <div class="clearfix"></div>
            </div>
            {% endif %}
            {% if patient_data.operations is not empty %}
            <div class="grid_3 grid_4">
                <div class="col-md-12 profile-text">
                    <h3>Operations</h3>
                    <br />
                    <ul class="list-group">
                    {% for operation in patient_data.operations %}
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">{{ operation.name }}</h4>
                            <p class="list-group-item-text">{{ operation.characteristics }}</p>
                        </li>
                    {% endfor%}
                    </ul>
                </div>                
                <div class="clearfix"></div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}  
    <link rel="stylesheet" type="text/css" href="{{ asset('css/show_patients.css', 'patients') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/show_patients.js', 'patients') }}"></script>
{% endblock %}
