{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <form id="add-new-allergy-form" url="{{ url('allergies-new') }}" type="post">
        <div class="typo-grid">
            <div class="typo-1">
                <div class="grid_3 grid_4">
                    <!--allergies_toolbar-->
                    <div class="mail-toolbar clearfix">
                        <div class="float-left">
                            <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                                <!--AddNew Allergy-->
                                <div class="btn-group">
    {#                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#allergy_addnew_modal"><i class="fa fa-user-plus text-color-green"></i> Add New Patient</button>#}
                                    <a id="show_addNew_form" class="btn btn-default"><i class="fa fa-heartbeat text-color-green"></i> Add New Allergy</a>
                                </div>
                                <!--/AddNew Allergy-->
                            </div>
                        </div>

                        {% if allergies_list|length > 0 %}
                        <div class="float-right">
                            <a id="delete_allergies" class="btn btn-default" title="">
                                <i class="fa fa-times text-color-red" icon_9=""></i>
                                Delete
                            </a>
                            {#<div class="btn-group">
                                <div class="btn-group dropdown">
                                    <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cog icon_8"></i>
                                        <i class="fa fa-chevron-down icon_8"></i>
                                        <div class="ripple-wrapper"></div>
                                    </a>
                                    <ul class="dropdown-menu float-right">
                                        <li>
                                            <a id="delete_allergies" class="font-red" title="">
                                                <i class="fa fa-times" icon_9=""></i>
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>#}
                        </div>
                        {% endif %}                    
                    </div>
                    <!--/allergies_toolbar-->

                    <!--allergies_gallery-->
                    <table id="allergies-table" class="table">
                        {% if allergies_list|length > 0  %}
                            <thead>
                                <tr class="check_allergy hidden">
                                    <th colspan="2" data-field="state" data-checkbox="true" class="cursor-pointer">
                                        <p id="check_all_allergies"><input name="btSelectAll" type="checkbox"> Check/Uncheck All</p>
                                    </th>
                                    <th>
                                        <div class="btn-group-sm pull-right">
                                            <button id="delete_allergies_btn" class="btn btn-danger">Delete</button>
                                            <button id="cancel_delete_allergies_btn" class="btn btn-default">Cancel</button>
                                        </div>
                                    </th>
                                </tr>
                                <tr class="add_new_allergy_buttons hidden">
                                    <th></th>
                                    <th>
                                        <div class="btn-group-sm pull-right">
                                            <button class="btn btn-success" type="submit">Add New</button>
                                            <button id="add-new-allergy-form-cancel" class="btn btn-default">Cancel</button>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for allergy in allergies_list %}
                                    <tr class="table-row allergy" data-index="{{ allergy.id }}">
                                        <td class="bs-checkbox check_allergy hidden">
                                            <input name="btSelectItem" type="checkbox">
                                        </td>
                                        <td class="table-text col-md-3">
                                            {{ allergy.name }}
                                        </td>
                                        <td class="table-text">
                                            <div class="float-left">
                                                {{ allergy.characteristics }}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr class="table-row add-new-allergy hidden">
                                    <td class="table-text col-md-3">
                                        <input class="form-control" type="text" name="allergy_name" placeholder="New Allergy Name" required />
                                    </td>
                                    <td class="table-text">
                                        <input class="form-control" type="text" name="allergy_characteristics" placeholder="New Allergy Characteristics" required />
                                    </td>
                                </tr>
                                {#<tr class="add-new-allergy hidden">
                                    <td colspan="2">
                                        <div class="btn-group float-right">
                                            <button class="btn btn-success" type="submit">Add New</button>
                                            <button class="btn btn-default">Cancel</button>
                                        </div>
                                    </td>
                                </tr>#}
                            </tbody>
                        {% else %}
                            <tbody>
                                <tr class="table-row">
                                    <td class="table-text">
                                        <center>No allergy found</center>
                                    </td>
                                </tr>
                            </tbody>
                        {% endif %}
                    </table>
                    <!--/allergies_gallery-->
                    {% include 'common/paginator.html.twig' %}
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block stylesheets %}  
    <link rel="stylesheet" type="text/css" href="{{ asset('css/allergies.css', 'allergies') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/allergies.js', 'allergies') }}"></script>
{% endblock %}
